body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 720px;
}

ul a {
	text-decoration: none;
	display: block;
	padding: 0 2em;
	line-height: 3em;
	background: url(../imagens/aba-esquerda.png) no-repeat top left;
	color: #fff;
}

ul a:hover {
	color: #894a1f;
}

ul li {
	float: left;
	background: url(../imagens/aba-direita.png) no-repeat top right;
}


ul #atual {
	background: url(../imagens/aba-direita-atual.png) no-repeat top right;
}

ul #atual a {
	background: url(../imagens/aba-esquerda-atual.png) no-repeat top left;
}