body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #f2f2f2;
}

#container {
	width: 90%;
	margin: 0 auto;
	background: #fff;
}

#logomarca {
	height: 100px;
	background: #9E9E9E;
	text-align: center;
	line-height: 100px;
}

#conteudo {
	width: 70%;
	float: right;
}

#navegacao {
	width: 25%;
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;
	background: #d1d1d1;
}

#navegacao ul {
	list-style: none;
}

#navegacao li a {
	text-decoration: none;
}

#rodape {
	clear: both;
	background: #c4c4c4;
	padding: 5px;
	text-align: center;
}